.contenedor_game {
    margin: 0;
    /* background: #dedede;
     */
    background: #136a8a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient( to right, #267871, #136a8a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to right, #267871, #136a8a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    height: 100vh;
}

.gameboard {
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
}

.color {
    width: 50%;
    height: 50%;
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: left;
}

.celeste {
    background: #22a6b3;
}

.celeste.light {
    background: #7ed6df;
}

.colorNavbar {
    background: #485563;
    /* fallback for old browsers */
    background: -webkit-linear-gradient( to right, #29323c, #485563);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to right, #29323c, #485563);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.violeta {
    background: #be2edd;
}

.violeta.light {
    background: #e056fd;
}

.naranja {
    background: #f0932b;
}

.naranja.light {
    background: #ffbe76;
}

.verde {
    background: #6ab04c;
}

.verde.light {
    background: #badc58;
}

.btn-start {
    width: 400px;
    height: 100px;
    background: #ecf0f1;
    color: #2c3e50;
    font-size: 2.5rem;
    position: absolute;
    top: calc(53%);
    left: calc(50% - 200px);
}

.hide {
    display: none;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    font-family: "Pacifico", cursive;
}

#btnEmpezar {
    font-family: "Fredoka One", cursive;
    border-radius: 30px;
}

#btn_instructions {
    right: 1rem;
    position: absolute;
    top: 5rem;
    border-radius: 20px;
}

#btn_level {
    position: absolute;
    top: calc(20%);
    left: calc(44vw);
    font-size: 1.2rem;
    border-radius: 20px;
}

#lbl_tiempo {
    position: absolute;
    top: 5rem;
    left: 8rem;
    border-radius: 20px;
    font-size: 2rem;
}

.esconder {
    display: none;
}